{% extends "base.html" %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="row my-4">
    <div class="col-6">
        {% include "./components/_article-gallery.html" %}
    </div>
    <div class="col-6">
        <h2 class="text-center">{{ article.title }}</h2>

        <ul class="list-group">
            <li class="list-group-item">Категория: {{ article.category }}</li>
            <li class="list-group-item">Автор: {{ article.author }}</li>
            <li class="list-group-item">Просмотры: {{ article.views }}</li>
            <li class="list-group-item">Дата создания: {{ article.created_at }}</li>
            <li class="list-group-item">Лайки: <span class='text-success'>{{ total_likes }}</span></li>
            <li class="list-group-item">Дислайки: <span class='text-danger'>{{ total_dislikes }}</span></li>
            <li class="list-group-item">Кол-во комментариев: <span class='text-info'>{{ total_comments }}</span></li>
        </ul>

        {% if request.user.is_authenticated and request.user != article.author %}
        <div class="d-flex gap-3 my-2">
            <a href={% url 'add_vote' article.id 'add_like' %} class="btn btn-success">Лайк</a>
            <a href={% url 'add_vote' article.id 'add_dislike' %} class="btn btn-danger">Дислайк</a>
        </div>
        {% elif request.user.is_authenticated and request.user == article.author %}
        <div class="d-flex gap-3 my-2">
            <a href={% url 'update' article.slug %} class="btn btn-success">Изменить</a>
            <a href={% url 'delete' article.slug %} class="btn btn-danger">Удалить</a>
        </div>
        {% endif %}
    </div>
</div>

<div class='my-4'>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% if article.full_description %}
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Полное описание</button>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <button class="nav-link{% if not article.full_description %} active{% endif %}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Комментарии</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        {% if article.full_description %}
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {{ article.full_description }}
        </div>
        {% endif %}
        <div class="tab-pane py-2 fade{% if not article.full_description %} show active{% endif %}" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {% for comment in comments %}
            <div class="card mb-2">
                <div class="card-header">
                  {{ comment.created_at }}
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{ comment.text }}</p>
                    <footer class="blockquote-footer">{{ comment.author }}</footer>
                  </blockquote>
                </div>
            </div>
            {% endfor %}

            <form method='post'>
                {% csrf_token %}

                {{ form.as_p }}
                <button class="btn btn-dark mt3">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}