{% extends "base.html" %}

{% block content %}
<section class="my-4">
    {% include "./components/_slider.html" %}
</section>

<section class="mb-4">
    <h2 class="text-center mb-4">Статьи</h2>

    <div class="row row-gap-4">
        {% for article in articles %}
        <div class="col-3">
            {% include "./components/_card.html" %}
        </div>
        {% endfor %}
    </div>

    {% include "components/_pagination.html" %}
</section>

<section class="mb-4">
    <h2 class="text-center mb-4">FAQ</h2>

    {% include "./components/_faq.html" %}
</section>
{% endblock content %}