{% extends "base.html" %}

{% block title %}
Профиль
{% endblock title %}

{% block content %}
<div class="row my-3">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item">Имя: <b>{{ request.user.first_name }}</b></li>
            <li class="list-group-item">Имя профиля: <b>{{ request.user.username }}</b></li>
            <li class="list-group-item">Электронная почта: <b>{{ request.user.email }}</b></li>
            <li class="list-group-item">Дата регистрации: <b>{{ request.user.date_joined }}</b></li>
        </ul>
    </div>

    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item">Кол-во статей: <b class='text-primary'>{{ total_articles }}</b></li>
            <li class="list-group-item">Кол-во лайков: <b class="text-success">{{ total_likes }}</b></li>
            <li class="list-group-item">Кол-во дислайков: <b class="text-danger">{{ total_dislikes }}</b></li>
            <li class="list-group-item">Кол-во просмотров: <b class="text-info">{{ total_views }}</b></li>
            <li class="list-group-item">Кол-во комментариев: <b class="text-info">{{ total_comments }}</b></li>
        </ul>
    </div>
</div>

<section>
    <div class="row mb-3">
        {% for article in articles %}
        <div class="col-3">
            {% include './components/_card.html' %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}

