<div class="card">
    {% if article.preview %}
    <img src="{{ article.preview.url }}" class="card-img-top" alt="...">
    {% else %}
    <img src="https://avatars.mds.yandex.net/i?id=8c8f1a5a6eb5fa774de3f48d1cca80e759a7cf23-8175999-images-thumbs&n=13" class="card-img-top" alt="..." height="304px" width="406">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.short_description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Категория: {{ article.category }}</li>
      <li class="list-group-item">Автор: {{ article.author }}</li>
      <li class="list-group-item">Просмотры: {{ article.views }}</li>
      <li class="list-group-item">Дата создания: <br>{{ article.created_at }}</li>
    </ul>
    <div class="card-body">
      <a href={% url "article_detail" article.slug %} class="card-link">Подробнее</a>
    </div>
</div>